@media (max-width: 1366px) {
  .container {
    max-width: 960px;
  }
  .promo {
    background: #fff1b8 url(../img/pizza.png) no-repeat top right -325px /800px;
  }
  .rating {
    margin-right: 15px;
  }
  .category,
  .price {
    font-size: 14px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 750px;
  }

  .promo {
    padding: 50px;
    background: #fff1b8 url(../img/pizza.png) no-repeat top right -225px /550px;
  }
  .promo-text {
    font-size: 18px;
    max-width: 400px;
  }

  .card {
    flex-basis: 49%;
  }

  .footer-link {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 650px;
  }

  .promo {
    background: #fff1b8 url(../img/pizza.png) no-repeat top right -210px /490px;
  }

  .promo-title {
    font-size: 24px;
    line-height: 1.4;
  }

  .card-info {
    flex-wrap: wrap;
  }
  .card.rating {
    flex-basis: 100%;
  }

  .card-title {
    font-size: 18px;
  }

  .footer-link {
    font-size: 14px;
  }
}

@media (max-width: 595px) {
  .container {
    width: 90%;
  }
  .header {
    flex-wrap: wrap;
  }

  .input-address {
    margin-top: 15px;
    order: 5;
    flex: 1;
  }
  .promo {
    background-image: none;
  }
  .promo-title {
    margin-bottom: 10px;
  }
  .section-title {
    font-size: 20px;
  }

  .card {
    flex-basis: 100%;
  }

  .card-img {
    width: 100%;
  }

  .footer {
    padding: 30px 0;
  }

  .footer-block {
    align-items: flex-start;
  }

  .footer-nav {
    margin-left: 0;
    margin-right: 0;
    order: 0;
    display: flex;
    flex-direction: column;
  }

  .footer-logo {
    margin-right: 15px;
    order: 1;
  }

  .social-links {
    order: 2;
  }
}

@media (max-width: 480px) {
  .btn-text {
    display: none;
  }
  .btn {
    min-height: 40px;
  }
  .btn-icon {
    margin: 0;
  }
  .promo {
    padding: 20px;
  }
  .section-heading {
    flex-wrap: wrap;
  }
  .footer-block {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }
  .footer-logo {
    order: 0;
    margin-bottom: 20px;
  }
  .footer-nav {
    margin-bottom: 20px;
    text-align: center;
  }
  .footer-link:not(:last-child) {
    margin-right: 0;
  }
}
